<div class="cv">
    <div class="sobremim">
        <H2>Sobre mim:</H2>
        <P>
            Graduando em <b>Análise e Desenvolvimento de Sistemas</b> (último semestre), com experiência desde 2023 como
            <b>Analista de Suporte Técnico</b> em uma empresa de software de rastreamento veicular.
            Atuo na resolução de problemas técnicos, suporte a clientes e melhoria contínua dos sistemas.
            Tenho habilidades em programação, banco de dados e inovação tecnológica, além de facilidade em comunicação e
            trabalho em equipe.
            Interesse por inteligência artificial, automação e desenvolvimento de soluções tecnológicas que gerem
            impacto
            positivo.
        </P>
    </div>

    <!-- Talvez transformar cada tópico em um novo componente -->
    <div class="contatos">
        <h2>Contatos:</h2>
        <p> <!-- Colocar ícones-->
            Telefone: (11) 96981-2034<br>
            email: ana.barbierifatec.sp.gov.br <br>
            linkedin: https://www.linkedin.com/in/ana-beatriz-barbieri/ <br>
            github: https://github.com/anabarbieri01 <br>

        </p>
    </div>

    <div class="skills">
        <H2>Soft Skills & Hard Skills</H2>
        <!--Deixar lado a lado-->
        <div class="flex-skills">
            <div class="soft">
                <H3>Soft Skills</H3>
                <ul>
                    <li>Adaptabilidade</li>
                    <li>Comunicação</li>
                    <li>Proatividade</li>
                    <li>Resiliência</li>
                    <li>Trabalho em Equipe</li>
                </ul>
            </div>

            <div class="hard">
                <H3>Hard Skills</H3>
                <ul>
                    <li>Canva</li>
                    <li>Pacote Office</li>
                    <li>Java - Básico</li>
                    <li>React - Básico</li>
                    <li>SQL Server - Básico</li>
                </ul>
            </div>
        </div>



    </div>

    <div class="edu-exp">
        <div class="flex-eduexp">
            <div class="idiomas">
                <h2>Idiomas:</h2>
                <ul>
                    <li>Português - Nativo</li>
                    <li>Inglês - Intermediário</li>
                    <li>Espanhol - Intermediário</li>
                    <li>Italiano - Intermediário</li>
                </ul>
            </div>

            <div class="educacao">
                <h2>Educação:</h2>
                <ul>
                    <li>2019 - 2020 | Técnico em Informática para Internet. Etec Martinho Di Ciero.</li>
                    <li>2020 - 2025 | Tecnólgo em Análise e Desenvolvimento de Sistemas. Fatec Dom Amaury Castanho.</li>
                </ul>
            </div>

            <div class="experiencia">
                <h2>Experiência:</h2>
                <ul>
                    <li><b>SMARTGPS - ANÁLISTA DE SUPORTE</b><br>
                        2023 - ATUALMENTE.<br>
                        Função: Suporte ao cliente em questões de dúvidas sobre o sistema.
                    </li>
                    <li><b>Prefeitura de estância turística de Itu - ESTÁGIO EM t.I</b><br>
                        MARÇO DE 2020 - FEVEREIRO DE 2023.<br>
                        Função: Responsável pelos computadores de uma unidade escolar e auxiliar professores e
                        alunos na
                        utilização
                        dos
                        computadores e tablets.
                    </li>
                </ul>

            </div>
        </div>


    </div>

</div>